<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.android.chrome" />
    </queries>

    <application>
        <activity
            android:name="com.petersamokhin.vksdk.android.auth.activity.VkAuthActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TransparentActivity" />

    </application>

</manifest>